---
layout: default.hbs
title: Datenschutzerklärung
subtitle:
name: datenschutzerklaerung
data:
 contact: ../models/contact__informations.json
---

<section class="section">
	<div class="grid-container">
		<div class="grid-100">
			{{> page__headline}}
		</div>
		<div class="grid-70 prefix-15 tablet-grid-80 tablet-prefix-10">
			<h3>Anbieter und verantwortliche Stelle im Sinne des Datenschutzgesetzes</h3>
			{{#data.contact}}
			<p>{{name}} {{companyname}}<br>{{name}}<br>{{adress.[0].street}} {{adress.[0].number}}<br>{{adress.[0].zip}} {{adress.[0].city}}</p>
			{{/data.contact}}

			<h3>Ihre Betroffenenrechte</h3>
			<p>Unter den angegebenen Kontaktdaten unseres Datenschutzbeauftragten können Sie jederzeit folgende Rechte ausüben:</p>
			<ul>
			<li>Auskunft über Ihre bei uns gespeicherten Daten und deren Verarbeitung,</li>
			<li>Berichtigung unrichtiger personenbezogener Daten,</li>
			<li>Löschung Ihrer bei uns gespeicherten Daten,</li>
			<li>Einschränkung der Datenverarbeitung, sofern wir Ihre Daten aufgrund gesetzlicher Pflichten noch nicht löschen dürfen,</li>
			<li>Widerspruch gegen die Verarbeitung Ihrer Daten bei uns und</li>
			<li>Datenübertragbarkeit, sofern Sie in die Datenverarbeitung eingewilligt haben oder einen Vertrag mit uns abgeschlossen haben.</li>
			</ul>
			<p>Sofern Sie uns eine Einwilligung erteilt haben, können Sie diese jederzeit mit Wirkung für die Zukunft widerrufen.</p>
			<p>Sie können sich jederzeit mit einer Beschwerde an die für Sie zuständige Aufsichtsbehörde wenden. Ihre zuständige Aufsichtsbehörde richtet sich nach dem Bundesland Ihres Wohnsitzes, Ihrer Arbeit oder der mutmaßlichen Verletzung. Eine Liste der Aufsichtsbehörden (für den nichtöffentlichen Bereich) mit Anschrift finden Sie unter: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank" rel="noopener">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>

			<h3>Zwecke der Datenverarbeitung durch die verantwortliche Stelle und Dritte</h3>
			<p>Wir verarbeiten Ihre personenbezogenen Daten nur zu den in dieser Datenschutzerklärung genannten Zwecken. Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den genannten Zwecken findet nicht statt. Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:</p>
			<ul>
			<li>Sie Ihre ausdrückliche Einwilligung dazu erteilt haben,</li>
			<li>die Verarbeitung zur Abwicklung eines Vertrags mit Ihnen erforderlich ist,</li>
			<li>die Verarbeitung zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist,</li>
			</ul>
			<p>die Verarbeitung zur Wahrung berechtigter Interessen erforderlich ist und kein Grund zur Annahme besteht, dass Sie ein überwiegendes schutzwürdiges Interesse an der Nichtweitergabe Ihrer Daten haben.</p>

			<h3>Löschung bzw. Sperrung der Daten</h3>
			<p>Wir halten uns an die Grundsätze der Datenvermeidung und Datensparsamkeit. Wir speichern Ihre personenbezogenen Daten daher nur so lange, wie dies zur Erreichung der hier genannten Zwecke erforderlich ist oder wie es die vom Gesetzgeber vorgesehenen vielfältigen Speicherfristen vorsehen. Nach Fortfall des jeweiligen Zweckes bzw. Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig und entsprechend den gesetzlichen Vorschriften gesperrt oder gelöscht.</p>

			<h3>Erfassung allgemeiner Informationen beim Besuch unserer Website</h3>
			<p>Wenn Sie auf unsere Website zugreifen, werden automatisch mittels eines Cookies Informationen allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet-Service-Providers und ähnliches. Hierbei handelt es sich ausschließlich um Informationen, welche keine Rückschlüsse auf Ihre Person zulassen.</p>
			<p>Diese Informationen sind technisch notwendig, um von Ihnen angeforderte Inhalte von Webseiten korrekt auszuliefern und fallen bei Nutzung des Internets zwingend an. Sie werden insbesondere zu folgenden Zwecken verarbeitet:</p>
			<ul>
			<li>Sicherstellung eines problemlosen Verbindungsaufbaus der Website,</li>
			<li>Sicherstellung einer reibungslosen Nutzung unserer Website,</li>
			<li>Auswertung der Systemsicherheit und -stabilität sowie</li>
			<li>zu weiteren administrativen Zwecken.</li>
			</ul>
			<p>Die Verarbeitung Ihrer personenbezogenen Daten basiert auf unserem berechtigten Interesse aus den vorgenannten Zwecken zur Datenerhebung. Wir verwenden Ihre Daten nicht, um Rückschlüsse auf Ihre Person zu ziehen. Empfänger der Daten sind nur die verantwortliche Stelle und ggf. Auftragsverarbeiter.</p>
			<p>Anonyme Informationen dieser Art werden von uns ggfs. statistisch ausgewertet, um unseren Internetauftritt und die dahinterstehende Technik zu optimieren.</p>

			<h3>Geltungsbereich</h3>
			<p>Nutzer erhalten mit dieser Datenschutzerklärung Information über die Art, den Umfang und Zweck der Erhebung und Verwendung ihrer Daten durch den verantwortlichen Anbieter erhoben und verwendet werden. </p><p>Den rechtlichen Rahmen für den Datenschutz bilden das Bundesdatenschutzgesetz (BDSG) und das Telemediengesetz (TMG).</p>

			<h3>Kontaktformular</h3>
			<p>Wenn Sie uns über das Onlineformular oder per E-Mail kontaktieren, speichern wir die von Ihnen gemachten Angaben, um Ihre Anfrage beantworten und mögliche Anschlussfragen stellen zu können.</p>
			<p>Die Verarbeitung der in das Kontaktformular eingegebenen Daten erfolgt somit ausschließlich auf Grundlage Art. 6 Abs. 1 lit. f DSGVO.</p>

			<h3>Einbindung von Diensten und Inhalten Dritter</h3>
			<p>Unser Angebot umfasst mitunter Inhalte, Dienste und Leistungen anderer Anbieter. Das sind zum Beispiel Karten, die von Google-Maps zur Verfügung gestellt werden, Videos von YouTube sowie Grafiken und Bilder anderer Webseiten. Damit diese Daten im Browser des Nutzers aufgerufen und dargestellt werden können, ist die Übermittlung der IP-Adresse zwingend notwendig. Die Anbieter (im Folgenden als „Dritt-Anbieter“ bezeichnet) nehmen also die IP-Adresse des jeweiligen Nutzers wahr. </p><p>Auch wenn wir bemüht sind, ausschließlich Dritt-Anbieter zu nutzen, welche die IP-Adresse nur benötigen, um Inhalte ausliefern zu können, haben wir keinen Einfluss darauf, ob die IP-Adresse möglicherweise gespeichert wird. Dieser Vorgang dient in dem Fall unter anderem statistischen Zwecken. Sofern wir Kenntnis davon haben, dass die IP-Adresse gespeichert wird, weisen wir unsere Nutzer darauf hin.							</p>

			<h3>SSL-Verschlüsselung</h3>
			<p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden wir dem aktuellen Stand der Technik entsprechende Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>

			<h3>Cookies</h3>
			<p>Diese Webseite verwendet sogenannte Cookies. Das sind Textdateien, die vom Server aus auf Ihrem Rechner gespeichert werden. Sie enthalten Informationen zum Browser, zur IP-Adresse, dem Betriebssystem und zur Internetverbindung. Diese Daten werden von uns nicht an Dritte weitergegeben oder ohne ihre Zustimmung mit personenbezogenen Daten verknüpft.</p><p>Cookies erfüllen vor allem zwei Aufgaben. Sie helfen uns, Ihnen die Navigation durch unser Angebot zu erleichtern, und ermöglichen die korrekte Darstellung der Webseite. Sie werden nicht dazu genutzt, Viren einzuschleusen oder Programme zu starten.</p><p>Nutzer haben die Möglichkeit, unser Angebot auch ohne Cookies aufzurufen. Dazu müssen im Browser die entsprechenden Einstellungen geändert werden. Informieren Sie sich bitte über die Hilfsfunktion Ihres Browsers, wie Cookies deaktiviert werden. Wir weisen allerdings darauf hin, dass dadurch einige Funktionen dieser Webseite möglicherweise beeinträchtigt werden und der Nutzungskomfort eingeschränkt wird. Die Seiten <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> (USA) und <a href="http://www.youronlinechoices.com/uk/your-ad-choices/">http://www.youronlinechoices.com/uk/your-ad-choices/</a> (Europa) erlauben es Ihnen, Online-Anzeigen-Cookies zu verwalten.</p>

			<p>Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter, von ihnen erwünschter Funktionen (z.B. Login) erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Soweit andere Cookies (z.B. Cookies zur Analyse deines Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert behandelt.</p>

			<h3>Server-Log-Dateien</h3>
			<p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien, die Ihr Browser automatisch übermittelt. Dies sind:
			</p>

			<ul>
			    <li>Browsertyp und Browserversion</li>
			    <li>verwendetes Betriebssystem</li>
			    <li>Referrer URL</li>
			    <li>Hostname des zugreifenden Rechners</li>
			    <li>Uhrzeit der Serveranfrage</li>
			    <li>IP-Adresse</li>
			</ul>

			<p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</p>
			<p>Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</p>

			<h3>Verwendung von Matomo</h3>
			<p>Diese Webseite nutzt Matomo, eine Open-Source-Software, die Daten sammelt und speichert. Diese Informationen dienen Marketing- und Optimierungszwecken. Matomo erstellt dazu aus den Daten Nutzungsprofile mit einem Pseudonym. Für diese Zwecke speichert die Software auf Ihrem Computer Cookies (Textdateien), anhand derer die Nutzung der Webseite durch Sie analysiert werden kann. Ihre IP-Adresse wird dabei sofort nach der Verarbeitung und vor der Speicherung anonymisiert. Die Daten werden auf den Servern des Anbieters in Deutschland hinterlegt.</p><p>Wenn Sie nicht möchten, dass Matomo Cookies speichert, haben Sie die Möglichkeit, über die Einstellungen Ihres Browser die Installation von Cookies zu unterbinden (Informationen dazu finden Sie in der Hilfefunktion des Browsers). In diesem Fall können Sie möglicherweise nicht alle Funktionen des Angebots nutzen.</p>
			<p>Die Speicherung von Matomo-Analytics-Cookies erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an der Analyse des Nutzerverhaltens, um sowohl sein Webangebot als auch seine Werbung zu optimieren.</p>
			<iframe style="border: 0; width: 100%; height: 200px;" src="https://piwik.hit-services.net/index.php?module=CoreAdminHome&action=optOut&language=de&backgroundColor=&fontColor=&fontSize=&fontFamily=Roboto"></iframe>

			<h3>Änderung unserer Datenschutzerklärung</h3>
			<p>Um zu gewährleisten, dass unsere Datenschutzerklärung stets den aktuellen gesetzlichen Vorgaben entspricht, behalten wir uns jederzeit Änderungen vor. Das gilt auch für den Fall, dass die Datenschutzerklärung aufgrund neuer oder überarbeiteter Leistungen, zum Beispiel neuer Serviceleistungen, angepasst werden muss. Die neue Datenschutzerklärung greift dann bei Ihrem nächsten Besuch auf unserem Angebot.</p>

			<p> </p><p><small>Quelle: Datenschutz-Konfigurator von <a href="http://www.mein-datenschutzbeauftragter.de" target="_blank">mein-datenschutzbeauftragter.de</a></small></p>
		</div>
	</div>

</section>
