---
layout: default.hbs
title: Alternatives Präsentationstool zum altbekannten PowerPoint-Irrsinn
published: true
tags:
- ownCloud
- Password
categories:
- Cloud
date: 2012/07/05
teaser: Über PowerPoint lässt sich bekanntlich viel Gutes, aber auch sehr viel Schlechtes sagen. Das Positive daran ist, dass man Präsentationen schnell auf die Beine stellen kann und das auch von fast jedem Arbeitnehmer mit ein bißchen Office-Know-How. 
posts: true
name: blog
---
<section class="grid-container">
	<article class="grid-60 prefix-20 article__item">
		<h2 class="article__headline">{{title}}</h2>
		<div class="article__toolbar">
			<time datetime="{{formatDate date "%Y-%m-%d"}}T00:00" class="article__publishedDate">{{formatDate date "%d. %b %Y"}}</time>
		</div>
		<p>Über PowerPoint lässt sich bekanntlich viel Gutes, aber auch sehr viel Schlechtes sagen. Das Positive daran ist, dass man Präsentationen schnell auf die Beine stellen kann und das auch von fast jedem Arbeitnehmer mit ein bißchen Office-Know-How. Allerdings - und jetzt kommen wir zum Negativen - sehen die Präsentationen immer gleich aus, fühlen sich, dank der überhäuften Animationen gleich an und sind zudem meist hoffnungslos überladen.</p>
		<h3>Es gibt Hoffnung - dank <del>Google</del> HTML5</h3>
		<p>Es ist also an der Zeit, dass neue Präsentationstools auf dem Bildschirm aufschlagen und die tagtäglichen Präsentationen bei Kunden oder vor internen Kollegen aufpeppen.</p>
		<p>Das hat sich auch Google gedacht und mit den <a title="HTML5Slides" href="http://code.google.com/p/html5slides/" target="_blank">HTML5Slides</a> ein neues Projekt auf die Beine gestellt, welches es ermöglicht, eine Präsentation nur mit HTML5 und CSS3 zu erstellen, welche dann im Brower läuft.</p>
		<p>Das Prinzip ist recht simpel. Man sieht einen weißen Slide mit abgerundeten Ecken in der Mitte und, je nach Auflösung, links und rechts den vorherigen und nachfolgenden Slide. Diese lassen sich mit den Courser-Tasten (<- ->) oder durch klicken in den linken oder rechten Browserrand bewegen. Mit Hilfe von CSS3 Transitions sliden die Slides dann von rechts in die Mitte.</p>
		<figure>
			<img src="{{assets}}/img/artikel/html5slides_1.jpg" alt="HTML5 Slides">
			<figcaption>HTML5Slides in Aktion.</figcaption>
		</figure>
		<p>Auf den Slides kann man jegliche Arten von Inhalt anbieten:</p>
		<ol>
			<li>Bilder</li>
			<li>Videos</li>
			<li><del>Flash</del> interaktive Medien</li>
			<li>uvm.</li>
		</ol>
		<p>Natürlich kann man diese nicht frei wie in PowerPoint auf dem Slide bewegen, aber das braucht man auch nicht. Google hat in seiner vordefinierten CSS-Datei schon einiges Formatiert. Z.B. lassen sich ganz einfach komplette Bilder als Hintergrund für ein Slide verwenden. Wenn sich ein H2-Tag auf dem Slide befindet, wird dieses automatisch mit einem weißen, transparenten Hintergrund belegt ohne Zutun des Anwenders.</p>
		<figure>
			<img src="{{assets}}/img/artikel/html5slides_2.jpg" alt="HTML5 Slides">
			<figcaption>Slide mit Hintergrundbild</figcaption>
		</figure>
		<p>Grenzen sind kaum gesetzt. Ich habe in meiner Präsentation noch zusätzlich Videos mit dem HTML5-Tag <pre><video></pre> eingebunden. Auch das <pre><audio></pre>-Tag kann, weil man eben alles einfügen kann, eingesetzt weren.</p>
		<h3>Der Aufbau</h3>
		<p>Jedes Slide ist in einem <pre><article></pre>-Tag und kann darin alles aufnehmen, was man so möchte. In der Regel nutzt man H1-Tags für große Ankündigungen und H2, H3 für kleine Überschriften mit weiterem Inhalt.</p>
		<p>Hier mal ein Beispiel eines Slides:</p>
		<pre>
<article>
  <h3>Rebecca Black - It´s friday</h3>
    <p class="centered" style="text-align:center;">
        <video tabindex="0" src="/video/fridays.mp4" controls="" preload="auto" width="760"></video>
    </p>
    <div class="source">
        <p>Quelle: youtube.com</p>
    </div>
</article>			
		</pre>
		<h3>Effekte</h3>
		<p>Viele Effekte, wie man sie von PowerPoint kennt, gibt es nicht, aber das braucht man auch nicht wirklich. Es reichen die Übergangseffekte von einem Slide zum nächsten. Weiter kann man Aufzählungszeichen oder anderen Inhalt einfaden lassen, so dass diese erst sichtbar werden, sobald man die rechte Pfeiltaste drückt.</p>
		<p>Man sieht also, dass es kein großer Aufwand ist ein Slide hinzuzufügen und das nächste mal seine Präsentation mit den Google HTML5Slides zu erstellen.</p>
		<h3>Fazit</h3>
		<p>Nach ein bißchen Einarbeitungszeit hat man schnell den Aufbau verstanden und kommt auch mit den CSS-Klassen zurecht, die man benötigt, wenn man z.B. ein fächenfüllendes Hintergrundbild einbetten möchte. Neue Slides lassen sich schnell hinzufügen und auch nachträglich einfach bearbeiten.</p>
		<p>Den Präsentationsordner kopiert man einfach auf einen USB-Stick und kann seine Präsentation dann auf jedem Endgerät mit aktuellem Browser (Chrome wird empfohlen) präsentieren. Ich finde es zugleich sehr nett, seine "Folien" auf den eigenen Webspace zu übertragen, um nach dem Vortrag die Inhalte den Hörern anzubieten.</p>
		<p>Natürlich gibt es eine Menge weiterer vergleichbarer Tools. Ich habe mir dieses zuerst angeschaut und eine Präsentation, welche ich mehrfach gehalten habe, damit erstellt.</p>
	</article>
</section>
{{#withSort posts }}
	{{> pagination__article prev=this.pages.[5] isProject=false}}
{{/withSort}}
